    <footer class="py-5 bg-dark-green">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 order-2 order-sm-1 text-center mb-3">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Accueil</a></li>
                        <li><a href="#" class="text-white">Football</a></li>
                        <li><a href="#" class="text-white">Basketball</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 order-1 order-sm-2 text-center">
                    <a class="navbar-brand" href="#"><img src="{{ asset('assets/img/logo.svg') }}" alt="Logo" width="70"></a>
                </div>
                <div class="col-md-4 col-sm-12 order-3 text-center mb-3">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Mentions légales</a></li>
                        <li><a href="#" class="text-white">Politique de confidentialité</a></li>
                        <li><a href="#" class="text-white">Conditions générales d'utilisation</a></li>
                    </ul>
                </div>
            </div>
            <hr class="d-md-none"> 
            <p class="m-0 text-center text-white">© 2023 972BET</p>
        </div>
    </footer>